@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&family=Roboto:wght@400;900&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ebf6f6;
    overflow-x: hidden;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
    background-color: rgba(235, 246, 246, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.015);
    align-items: baseline;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 9rem;
    align-items: baseline;
}

.header-navigation {
    display: flex;
    gap: 20px;
    font-weight: 600;
}

nav .links {
    text-decoration: none;
    color: rgba(22, 23, 24, 0.5);
    /* color: #12617a; */
}

a.links:active,
.links:hover {
    color: #12617a;
}

.logo {
    width: 100px;
    display: flex;
    position: relative;
    /* padding: 8px; */
}

.logo img {
    width: 100%;
    color: white;
}

.logo-span {
    display: flex;
    position: absolute;
    top: 0;
    right: -40px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
    font-family: Roboto;
    color: #12617a;
}

.drop-down {
    display: none;
}

.join-btn {
    padding: 15px 35px;
    background: #12617a;
    color: #fff;
    border-radius: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.responsive-li {
    background: #263959;
    max-width: 100%;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.nav-list {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.body-section {
    display: flex;
    justify-content: space-around;
    /* grid-template-columns: 1fr 1fr ; */
    padding: 30px;
    margin-top: 100px;
}

.body-paragraph {
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 600;
}

.body-image {
    width: 500px;
}

.body-image img {
    width: 100%;
}

.body-h1 {
    font-size: 3rem;
    color: #008b8b;
    font-weight: 600;
    line-height: 60px;
}

.body-btn {
    display: flex;
    margin: 40px;
    gap: 10px;
    margin-top: -50px;
}

.btn-body1 {
    all: unset;
    padding: 16px 45px;
    display: flex;
    background: #008b8b;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: #f8f8f8;
}

.btn-body2 {
    all: unset;
    padding: 18px 35px;
    display: flex;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    cursor: pointer;
}

.btn-body1,
.btn-body2 {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.message-logo {
    position: relative;
    padding: 15px;
}

.message-logo img {
    position: absolute;
    width: 20px;
    top: 15px;
    left: -40px;
    padding: 5px;
}

.shop-now {
    display: flex;
    justify-content: space-between;
}

.grid-shop-now {
    background: #008b8b;
    width: 100%;
    padding: 20px;
    color: #ffff;
}

.grid-invest {
    background: #12617a;
    padding: 20px;
    color: #fff;
    gap: 20px;
}

.grid-shop-h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.grid-shop-p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 36;
    line-height: 42px;
}

.grid-invest-h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 36;
    line-height: 42px;
}

.grid-invest-p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 36;
    line-height: 42px;
}

.grid-show-btn,
.grid-invest-btn {
    display: flex;
    justify-content: center;
}

.grid-btn {
    box-shadow: 0px 4px 4px #12617a;
    background: #ffff;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 700;
    color: #008b8b;
}

.demo-h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 600;
    color: #008b8b;
}

.demo-p {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

.bnpl-calculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.bnpl-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-generate {
    padding: 10px 40px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    background: white;
}

.calculator-form {
    background: #fff;
    width: 500px;
    height: 350px;
    text-align: center;
    padding: 20px;
}

input[type="text"] {
    width: 80%;
    height: 30px;
    border-radius: 12px;
    padding: 10px;
}

.phone-image {
    width: 500px;
}

.phone-image img {
    width: 100%;
    height: 600px;
}

.works {
    color: #008b8b;
    text-align: center;
    font-weight: 600;
    font-family: Roboto;
    font-size: 40;
}

.how-it-work-p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

.how-it-work-h3 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 26px;
}

.how-it-work-img {
    background: #f6f6f6;
    width: 20%;
}

.grid-how-it-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}
.join-us-h1{
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 26px;
    color: #008b8b;
}
.flex-part {
    display: flex;
    background: #12617A;
    padding: 10px;

}
.flex-part-1 {
    background: #008B8B;
    display: flex;
    padding: 10px;
}
.flex-part-h3 {
    font-family: Roboto;
    font-weight: 700;
    color: #fff;
    padding: 10px;
}
.flex-part-p {
    font-family: Roboto;
    font-style: 400;
    color: #fff;
}
.flex-image {
    background: #F6F6F6;
    padding: 20px;
    border-radius: 40%;

}
.main-flex {
    display: flex;
    justify-content: center;
    gap: 500px;
}
.individual,
.business {
    font-size: 30px;
    color: #008B8B;
    font-weight: 700;
    font-family: Roboto;
}

.individual-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    
}
.individual-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    
}
.join-us-flex {
    display: flex;
}
.testimonies {
    background: #fff;
    padding: 50px;
    gap: 10px;
    margin: 30px;
}
.testimony-flex {
    display: flex;
    justify-content: center;

}
.testimony-p {
    margin-top: 10px;
    color: black;
}
.testimony-h4 {
font-family: Roboto;
font-weight: 400;

}
.testimony-h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #008b8b;
}
.app-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.wave-app {
font-family: Roboto;
font-size: 60px;
font-weight: 600;
color: #008B8B;
margin-top: 90px;

}
.message-logo-2 {
    
    position: relative;
    padding: 15px;
}

.message-logo-2 img {
    position: absolute;
    width: 20px;
    top: 15px;
    left: -50px;
    padding: 5px;
}
.app-btn {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 30px;
}
.last-form {
    width: 500px;
    height: 250px;
    background: #FEFEFE;
    margin: 20px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}
input[type="text"] {
    width: 100%;
    height: 30px;
    border-radius: 12px;
    padding: 20px;
}
.form-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-button {
    padding: 10px 40px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    background: white;
}
.take-control {
 font-family: Roboto;
font-weight: 600;
font-size: 50px;
}
.waitlist-h3 {
    color: black;
    font-family: Roboto;
}
.FAQ {
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    color: #008B8B;
}
.footer-message {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.reach-out {
    border: 1px solid white;
    font-weight: 700;
    padding: 10px;
    border-radius: 12px;
}
.reach-out-image img {
    background: #F6F6F6;
}
.message-img {
    width: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    color: #fff;
    /* margin-bottom: 20px; */
    padding: 20px;
    background: #008B8B;
}
.footer-section {
    background: #008B8B;
    height: 100px;
}
@media (min-width: 240px) and (max-width: 720px) {
    .top-header {
        display: flex;
        justify-content: space-between;
        /* margin-top: 10px; */
        padding: 20px;
    }
    .header-navigation {
        display: none;
    }
    .join-btn {
        display: none;
    }
    .drop-down {
        display: block;
    }
    .responsive-li {
        background: #263959;
        max-width: 100%;
        color: #fff;
        height: 100px;
        text-align: center;
        padding: 20px;
        margin-top: -30px;
        border-radius: 10px;
        display: none;
    }
    li {
        list-style: none;
        padding: 10px;
    }
    .responsive-slide {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: all 0.6s ease;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .body-image {
        display: none;
    }
    .body-section {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .body-h1 {
        text-align: center;
    }
    .body-btn {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
        width: 100%;
    }
    .message-logo {
        position: relative;
        padding: 15px;
    }
    .message-logo img {
        position: absolute;
        width: 20px;
        top: 20px;
        left: -45px;
        padding: 5px;
    }
    .shop-now {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        padding: 1rem;
    }
    .grid-shop-now,
    .grid-invest {
        border-radius: 10px;
        text-align: center;
        width: 120%;
    }
    .demo-section * {
        text-align: center;
    }
    .demo-h1 {
        font-size: 30px;
    }
    .demo-p {
        font-size: 20px;
    }
    .bnpl-calculator {
        display: flex;
        justify-content: center;
    }
    .phone-image {
        display: none;
    }
    .calculator-form {
        background: #fff;
        width: 90%;
        height: 350px;
        text-align: center;
        margin-bottom: -20px;
    }
    input[type="text"] {
        width: 90%;
        height: 30px;
        border-radius: 12px;
        padding: 10px;
    }
    .grid-how-it-works {
        display: grid;
        margin-top: 40px;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 20px;
        gap: 20px;
        justify-content: center;
    }
    .flex-part {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: #12617A;
        padding: 10px;
    
    }
    .flex-part-1 {
        background: #008B8B;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .individual-grid-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        padding: 20px;
        
    }
    .individual-grid-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        padding: 20px;
        
    }
    .main-flex {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .testimony-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    .form-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        align-items: center;
        padding: 20px;
        margin: 30px;
    }
    .last-form {
        width: 90%;
        height: 250px;
        background: #FEFEFE;
        margin: 20px;
        padding: 30px;
        border-radius: 12px;
        text-align: center;
    }
    .waitlist-h3 {
        color: black;
        font-family: Roboto;
        text-align: center;
        margin: 10px;
    }
    .take-control {
        font-family: Roboto;
       font-weight: 600;
       font-size: 50px;
       text-align: center;
       }
       .message-logo-2 {
    
        position: relative;
        padding: 15px;
    }
    
    .message-logo-2 img {
        position: absolute;
        width: 20px;
        top: 30px;
        left: -70px;
        padding: 5px;
    }
    .footer-message {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
    }
    
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    padding: 20px;
    background: #008B8B;
}
.footer-section {
    width: 90%;
}
}