@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&family=Roboto:wght@400;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ebf6f6;
  overflow-x: hidden;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  background-color: rgba(235, 246, 246, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.015);
  align-items: baseline;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  align-items: baseline;
}

.header-navigation {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

nav .links {
  text-decoration: none;
  color: rgba(22, 23, 24, 0.5);
  /* color: #12617a; */
}

a.links:active,
.links:hover {
  color: #12617a;
}

.logo {
  width: 100px;
  display: flex;
  position: relative;
  /* padding: 8px; */
}

.logo img {
  width: 100%;
  color: white;
}

.logo-span {
  display: flex;
  position: absolute;
  top: 0;
  right: -40px;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Roboto;
  color: #12617a;
}

.drop-down {
  display: none;
}

.join-btn {
  padding: 15px 35px;
  background: #12617a;
  color: #fff;
  border-radius: 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.responsive-li {
  background: #263959;
  max-width: 100%;
  color: #fff;
  height: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  display: none;
}

.nav-list {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.body-section {
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 1fr 1fr ; */
  padding: 30px;
  margin-top: 100px;
}

.body-paragraph {
  font-size: 20px;
  margin-top: 1rem;
  font-weight: 600;
}

.body-image {
  width: 500px;
}

.body-image img {
  width: 100%;
}

.body-h1 {
  font-size: 3rem;
  color: #008b8b;
  font-weight: 600;
  line-height: 60px;
}

.body-btn {
  display: flex;
  margin: 40px;
  gap: 10px;
  margin-top: -50px;
}

.btn-body1 {
  all: unset;
  padding: 16px 45px;
  display: flex;
  background: #008b8b;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: #f8f8f8;
}

.btn-body2 {
  all: unset;
  padding: 18px 35px;
  display: flex;
  background: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  cursor: pointer;
}

.btn-body1,
.btn-body2 {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.message-logo {
  position: relative;
  padding: 15px;
}

.message-logo img {
  position: absolute;
  width: 20px;
  top: 15px;
  left: -40px;
  padding: 5px;
}

.shop-now {
  display: flex;
  justify-content: space-between;
}

.grid-shop-now {
  background: #008b8b;
  width: 100%;
  padding: 20px;
  color: #ffff;
}

.grid-invest {
  background: #12617a;
  padding: 20px;
  color: #fff;
  gap: 20px;
}

.grid-shop-h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

.grid-shop-p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36;
  line-height: 42px;
}

.grid-invest-h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 36;
  line-height: 42px;
}

.grid-invest-p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36;
  line-height: 42px;
}

.grid-show-btn,
.grid-invest-btn {
  display: flex;
  justify-content: center;
}

.grid-btn {
  box-shadow: 0px 4px 4px #12617a;
  background: #ffff;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  color: #008b8b;
}

.demo-h1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 60px;
  font-family: Roboto;
  font-weight: 600;
  color: #008b8b;
}

.demo-p {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.bnpl-calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bnpl-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-generate {
  padding: 10px 40px;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  background: white;
}

.calculator-form {
  background: #fff;
  width: 500px;
  height: 350px;
  text-align: center;
  padding: 20px;
}

input[type="text"] {
  width: 80%;
  height: 30px;
  border-radius: 12px;
  padding: 10px;
}

.phone-image {
  width: 500px;
}

.phone-image img {
  width: 100%;
  height: 600px;
}

.works {
  color: #008b8b;
  text-align: center;
  font-weight: 600;
  font-family: Roboto;
  font-size: 40;
}

.how-it-work-p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.how-it-work-h3 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 26px;
}

.how-it-work-img {
  background: #f6f6f6;
  width: 20%;
}

.grid-how-it-works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .top-header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
    padding: 20px;
  }
  .header-navigation {
    display: none;
  }
  .join-btn {
    display: none;
  }
  .drop-down {
    display: block;
  }
  .responsive-li {
    background: #263959;
    max-width: 100%;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 20px;
    margin-top: -30px;
    border-radius: 10px;
    display: none;
  }
  li {
    list-style: none;
    padding: 10px;
  }
  .responsive-slide {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.6s ease;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .body-image {
    display: none;
  }
  .body-section {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .body-h1 {
    text-align: center;
  }
  .body-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
  }
  .message-logo {
    position: relative;
    padding: 15px;
  }
  .message-logo img {
    position: absolute;
    width: 20px;
    top: 20px;
    left: -40px;
    padding: 5px;
  }
  .shop-now {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    padding: 1rem;
  }
  .grid-shop-now,
  .grid-invest {
    border-radius: 10px;
  }
  .phone-image {
    display: none;
  }
  .calculator-form {
    background: #fff;
    width: 90%;
    height: 400px;
    text-align: center;
    margin-bottom: -20px;
  }
  input[type="text"] {
    width: 90%;
    height: 30px;
    border-radius: 12px;
    padding: 10px;
  }
  .grid-how-it-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    justify-content: center;
  }
}
